/* .mainImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.HomeCantainer{
    display: flex;
    justify-content: space-between;
    margin: auto;
} */
.postImageWrapper{
    height: 450px;
    overflow: hidden;
}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}